body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #f9f9f9 !important;
}
/* header */
header {
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
}
/* product search */
.search-box {
  max-width: 450px;
  margin: 45px auto;
}
.search-box input {
  border: 1px solid #3DDAD8;
    padding: 7px;
    border-radius: 5px;
    margin-right: -4px;
    width: 80%;
}
/* all products show style */
#all-products {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(33.33%, 1fr) );
  margin: auto;
  justify-content: center;
}
.single-product {
  padding: 15px;
}
.single-product h3 {
  font-size: 18px;
}
.single-product>div img {
  max-width: 250px;
}
.product {
  margin: 15px;
  box-shadow: rgb(0 0 0 / 65%) 0px 10px 35px -30px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.4s;
}
.product-image {
  width: 150px;
  height: 150px;
}
.product:hover {
  box-shadow: none;
}
.product-col {
  margin-bottom: 30px;
}

header h1>span, 
.rating {
  color: #469e9d;
  font-weight: 600;
}
/* product detail */
.product-detail {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: rgb(0 0 0 / 65%) 0px 10px 35px -30px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}
.product-detail img {
  max-width: 100%;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.btns button,
.search-btn,
.bt-buynow {
  border: 1px solid #3DDAD8;
  background-color: #3DDAD8;
  color: #f9f9f9;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.4s;
}
.btns button:hover,
.search-btn:hover {
  background-color: #469e9d;
}
/* cart style */
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 5px;
}
.cart-main {
  padding-right: 30px;
}

/* media style */
@media only screen and (max-width: 980px) {
  #all-products {
    grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
  }
}

@media only screen and (max-width: 780px) {
  #all-products {
    grid-template-columns: repeat( auto-fit, minmax(100%, 1fr) );
  }
}